#header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
    height: 10vw;
}

#logo{
    width: 9vw;
    height: 9vw;
    margin-left: 1vw;
}

.imgcymb{
    height: 15vw;
    width: 15vw;
    align-self: center;
}

.border{
    border: 2px solid rgb(232, 14, 14) ;
    border-radius: 10px;
}

.produit{
    display: flex;
    margin-left: 4vw;
    margin-top: 4vw;
    border: 2px solid rgb(232, 94, 14);
    border-radius: 10px;
    width:fit-content;
}


.nomcymb{    
    font-family: cursive;
    font-size: 2vw;
    background: #CF0000;
    background: radial-gradient(circle farthest-side at bottom center, #CF0000 30%, #FF1900 40%, #FF3300 50%, #FF5500 60%, #FF8000 70%, #FFCC00 80%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 3vw;
}

.img-nom{
    display: flex;
}

.playprixbtnnom{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-left: 5vw;
}
.playprixbtn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Nomsite{
    font-family: 'Lion kinG', sans-serif;
    font-size: 6vw;
    background: #CF0000;
    background: radial-gradient(circle farthest-side at bottom center, #CF0000 30%, #FF1900 40%, #FF3300 50%, #FF5500 60%, #FF8000 70%, #FFCC00 80%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#slogan{
    font-family: 'Lion kinG', sans-serif;
    font-size: 4vw;
    background: #CF0000;
    background: radial-gradient(circle farthest-side at bottom center, #CF0000 30%, #FF1900 40%, #FF3300 50%, #FF5500 60%, #FF8000 70%, #FFCC00 80%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#phraseAccroche{
    font-size: 2vw;
    background: #CF0000;
    background: radial-gradient(circle farthest-side at bottom center, #CF0000 30%, #FF1900 40%, #FF3300 50%, #FF5500 60%, #FF8000 70%, #FFCC00 80%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titreSlogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.panier{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.btnboutique{
    font-size: 4vw;
    color: #CF0000;;
}
.imgpanier{
    height: 5vw;
    width: 5vw;
}
.info{
    font-size: 2vw;
}

#ajouterPanier{
    margin-left: 15vw;
    height: 2vw;
}

#produitCont{
    display: flex;
    flex-wrap: wrap;
}

#player{
height: 2vw;
}

.prix{
    font-size: 2vw;
    margin-top: 1vw;
    margin-right: 10vw;
}

#videoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}
.videoPrinc{
    width: auto;
}
#videoSecCont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.videoSec{
    width: 300px;
    margin-top: 2vw;
}

#videosContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:29px;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.myButton:active {
	position:relative;
	top:1px;
}

